nextflow.enable.dsl = 2

params {
  vcf = null
  reference = null
  metadata = null
  outdir = 'results/step4'
  report_dir = 'results/reports'
  dry_run = false

  min_sample_callrate = 0.95
  min_snp_callrate = 0.98
  min_maf = 0.01
  enable_hwe = false
  hwe_p = 1e-6

  ld_prune_window_kb = 50
  ld_prune_step = 5
  ld_prune_r2 = 0.2
  pca_k = 10

  het_outlier_method = 'MAD'
  het_outlier_thresh = 3.5
  relatedness_method = 'KING'
  duplicate_kinship_thresh = 0.177
  keep_chroms = 'autosomes'
}

process {
  executor = 'local'
  cpus = 2
  memory = '8 GB'
  errorStrategy = 'terminate'
  withName: '.*' {
    container = 'breedai/step4-qc:latest'
  }
}

docker {
  enabled = true
}

singularity {
  enabled = false
  autoMounts = true
}
